/* Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
  background: #f4f4f4;
  color: #222;
}

.container {
  width: min(1000px, 90%);
  margin: 0 auto;
  /*para centrar*/
}

.site-header {
  background: #111;
  color: #fff;
  padding: 20px 0; /*espacio hl/lr*/
  border-bottom: 4px solid #ffcc00;
}

.subtitle {
  margin-bottom: 15px;
}

.site-nav ul {
  list-style: none; /*para sacar los puntitos de la lista*/
  display: flex; /*poner los items en fila*/
  gap: 20px;
}

.site-nav a {
  display: inline-block;
  text-decoration: none;/*saca el subrayado*/
  color: #111;
  background: #ffcc00;
  padding: 8px 12px;
  border-radius: 6px;
  font-weight: bold;
}

.site-nav a:hover {
  filter: brightness(0.85);
}

.site-nav a.active {
  outline: 3px solid #f8f8f8;
}

main {
  padding: 24px 0;
}

.card {
  background: #fff;
  padding: 16px;
  border-radius: 10px;
  margin-bottom: 16px;
  border: 1px solid #e6e6e6;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
}

@media (min-width: 750px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}

.figure {
  margin-top: 12px;
}

.figure img {
  width: 100%;
}

.figure figcaption {
  font-size: 0.9rem;
  margin-top: 6px;
  color: #555;
}

.list {
  margin-top: 10px;
  margin-left: 18px;
}

.list li {
  margin-bottom: 6px;
}

.site-footer {
  background: #111;
  color: #fff;
  padding: 16px 0;
  border-top: 4px solid #ffcc00;
}

.site-footer .small {
  opacity: 0.85;
  font-size: 0.9rem;
  margin-top: 6px;
}
